{{#each data}}
<div class="card">
<div class="ribbon-wrapper" data-attend="{{attend}}">
		<div class="ribbon going">Going</div>
		<div class="ribbon maybe">Maybe</div>
		<div class="ribbon notgoing">Not Going</div>
</div>
<div class="card-image">
<img src="{{{image_url}}}" alt="">
</div>
<div class="card-header" id="{{objectId}}">
{{title}}
</div>
<div class="card-copy">
<p class="event_description">{{description}}</p>
</div>

<img class="going" src="../images/going_icon.png" data-id="{{objectId}}" />
<img class="maybe" src="../images/maybe_icon.png" data-id="{{objectId}}" />
<img class="not_going" src="../images/not_going_icon.png" data-id="{{objectId}}"/>
</div>
</div>
{{/each}}
