{{#each data}}
<div class='eventFullSize'>
	<span>{{title}}</span>
	<span>{{description}}</span>
	<span>{{date}}</span>
	<span>{{city}}</span>
	<span>{{address}}</span> 
	<span>{{time}}</span>
	<span>{{objectId}}</span>
</div>
{{/each}}